.footer-container {
  /* background-color: rgb(58, 25, 245); */
  /* background: #bae6fd; */
  height: 30vh;
  /* background: rgb(161, 232, 251);
  background: linear-gradient(
    180deg,
    rgba(161, 232, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: rgb(35, 35, 77);
  background: linear-gradient(
    180deg,
    rgba(35, 35, 77, 1) 0%,
    rgba(20, 1, 1, 1) 100%
  ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container svg {
  color: black;
  /* color: white; */
  font-size: xx-large;
  margin: 0.5em;
}
.footer-container p {
  color: white;
}
